html {
    scroll-behavior: smooth;
}

.Background-Container {
    background-image: url("https://res.cloudinary.com/doxjkpn5a/image/upload/v1740915314/Home_2_rjk1hv.png");
    background-size: cover;
    height: 110vh;
}

.Navbar-Color {
    background-color: transparent;
}

.Navbar-Color.scrolled {
    display: none;
}

.navbar-brand {
    font-family: "Space Grotesk";
    font-size: 26px;
    font-weight: 500;
    color: #F3F0E0 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #A3B8B0 !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #F3F0E0 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F3F0E0 !important;
}

.Logo {
    height: 120px;
}

.Timer-Style {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: #F3F0E0;
    font-family: "Space Grotesk";
}

.Main-Intro {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-size: 60px;
}

@media (max-width:767px) {
    .Background-Container {
        background-image: url("https://res.cloudinary.com/doxjkpn5a/image/upload/v1740975611/Home-1_ukcwji.png");
    }

    .Main-Intro {
        font-size: 30px !important;
    }

    .Logo {
        height: 90px;
        margin-top: 5px
    }

    .M-Heading {
        font-size: 30px !important;
    }

    .Timer-Style {
        font-size: 20px;
    }

    .navbar-collapse {
        background-color: #F3F0E0;
        border-radius: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #000000 !important;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #641D36 !important;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #641D36 !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Logo {
        height: 90px;
        margin-top: 5px;
    }

    .navbar-collapse {
        background-color: #F3F0E0;
        border-radius: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #000000 !important;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #641D36 !important;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #641D36 !important;
    }

    .Timer-Style {
        font-size: 20px;
    }
}

.M-Heading {
    font-size: 70px;
    font-weight: bold;
    color: #F3F0E0;
}

.Background-Container-1 {
    background-color: #F3F0E0;
}

.Side-Heading {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-weight: bold;
    font-size: 56px;
    background-color: #641D36;
    padding: 10px;
    padding-left: 0;
    border-top-right-radius: 36px;
}

.Side-Heading-Symbol {
    font-family: "Space Grotesk";
    color: #EAD7C5;
    font-weight: bold;
    font-size: 56px;
    background-color: #641D36;
    padding: 10px;
    padding-right: 0;
    border-bottom-left-radius: 36px;
}

@media (max-width:575px) {
    .Side-Heading {
        font-size: 42px;
    }

    .Side-Heading-Symbol {
        font-size: 42px;
    }
}

.Card-Container {
    background-color: #EAD7C5;
    height: 100%;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.Card-Container-1 {
    background-color: #EAD7C5;
    height: 100%;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.Block-Logos {
    height: 80px;
}

.Block-Logos-Social {
    width: 70%;
    height: 10%;
}

.Block-Logos-Arch {
    width: 70%;
    height: 20%;
}

.Card-Paragraph {
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
    color: #641D36;
}

.Card-Button {
    background-color: #641D36;
    color: #EAD7C5;
    border-width: 0;
    border-radius: 22px;
    padding: 10px;
    width: 50%;
    font-family: "Space Grotesk";
    font-size: 20px;
}

.Card-Main-Button {
    background-color: #EAD7C5;
    border-width: 0;
    border-radius: 22px;
    padding: 10px;
    font-family: "Space Grotesk";
    font-size: 20px;
}

@media (max-width: 320px) {
    .Card-Button {
        width: 60%;
    }
}

.Modal-Tech-Heading {
    font-family: "Space Grotesk";
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

.Event-Heading {
    font-family: "Space Grotesk";
    font-size: 28px;
    color: #000;
}

.Events-Card-Container {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.Event-Photos {
    height: 110px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5); /* Inactive indicators (dark gray) */
}

.carousel-indicators .active {
    background-color: black; /* Active indicator (black) */
}