html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden !important;
    width: 100% !important;
}

body.modal-open {
    padding-right: 0px !important;
    overflow: hidden;
}

.navbar {
    padding: 8px 16px !important; /* 8px top-bottom, 16px left-right */
}

.Background-Container {
    background-image: url("Images/BackgroundImages/BackgroundImage-1.jpg");
    background-size: cover;
    height: 120vh;
}

.Navbar-Color {
    background-color: transparent;
}

.Navbar-Color {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.Navbar-Color.scrolled {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.navbar-toggler{
    border-style:none;
    cursor: pointer;
    transition:transform 0.2s ease;
}

.navbar-toggler:active {
    transform: scale(0.9);
}

.navbar-brand {
    font-family: "Space Grotesk";
    font-size: 26px;
    font-weight: 500;
    color: #F3F0E0 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #A3B8B0 !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #F3F0E0 !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #F3F0E0 !important;
}

.navbar-nav .nav-link {
font-family:"Space Grotesk";
}

.Logo {
    height: 120px;
}

.Timer-Style {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: #F3F0E0;
    font-family: "Space Grotesk";
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    animation: pulseGlow 1.5s infinite alternate ease-in-out;
}


/* Glowing Pulse Effect */
@keyframes pulseGlow {
    0% {
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    }
}


.Main-Intro {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-size: 60px;
}

@media (max-width:767px) {
    .Main-Intro {
        font-size: 30px !important;
    }

    .Logo {
        height: 90px;
        margin-top: 5px
    }

    .M-Heading {
        font-size: 30px !important;
    }

    .Timer-Style {
        font-size: 20px;
    }

    .navbar-collapse {
        background-color: #F3F0E0;
        border-radius: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #000000 !important;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #641D36 !important;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #641D36 !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Logo {
        height: 90px;
        margin-top: 5px;
    }

    .navbar-collapse {
        background-color: #F3F0E0;
        border-radius: 20px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #000000 !important;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #641D36 !important;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #641D36 !important;
    }

    .Timer-Style {
        font-size: 20px;
    }
}

.M-Heading {
    font-size: 70px;
    font-weight: bold;
    color: #F3F0E0;
}

.Background-Container-1 {
    background-color: #F3F0E0;
}
.Background-Container-2{
    background-image: url("Images/BackgroundImages/BackgroundImage-2.svg");
    background-size: cover;
    width:100%;
    height:100%;
}
.Background-Container-3{
    background-image: url("Images/BackgroundImages/BackGround-Image3.svg");
    background-size: cover;
    width:100%;
    height:100%;
}
.Side-Heading {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-weight: bold;
    font-size: 56px;
    background-color: #641D36;
    padding: 10px;
    padding-left: 0;
    border-top-right-radius: 36px;
}

.Side-Heading-Symbol {
    font-family: "Space Grotesk";
    color: #EAD7C5;
    font-weight: bold;
    font-size: 56px;
    background-color: #641D36;
    padding: 10px;
    padding-right: 0;
    border-bottom-left-radius: 36px;
}

.Side-Heading-1 {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-weight: bold;
    font-size: 56px;
}

.Side-Heading-Symbol-1 {
    font-family: "Space Grotesk";
    color: #EAD7C5;
    font-weight: bold;
    font-size: 56px;
}

.Side-Heading-Container{
    margin-top:160px;
}
.Contact-Margin{
    margin-top:160px;
}

@media (max-width:575px) {
    .Side-Heading {
        font-size: 42px;
    }

    .Side-Heading-Symbol {
        font-size: 42px;
    }
}

@media (max-width:575px) {
    .Side-Heading-1 {
        font-size: 36px;
    }

    .Side-Heading-Symbol-1 {
        font-size: 36px;
    }
}

.Card-Container {
    background-color: #EAD7C5;
    height: 100%;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.Card-Container-1 {
    background-color: #EAD7C5;
    height: 100%;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.Block-Logos {
    height: 80px;
}

.Block-Logos-Social {
    width: 70%;
    height: 14%;
}

.Block-Logos-Arch {
    width: 70%;
    height: 16%;
}

.Card-Paragraph {
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
    color: #641D36;
}

.Card-Button {
    background-color: #641D36;
    color: #EAD7C5;
    border: none;
    border-radius: 22px;
    padding: 10px;
    width: 50%;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover Effect */
.Card-Button:hover {
    background-color: #7A243F; /* Slightly lighter shade */
    transform: scale(1.05); /* Slightly enlarges */
}

/* Active (Click) Effect */
.Card-Button:active {
    transform: scale(0.98); /* Shrinks slightly when clicked */
}

.Card-Main-Button {
    background-color: #EAD7C5;
    border: none;
    border-radius: 22px;
    padding: 10px 20px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline:none !important;
}

.Card-Main-Button:hover {
    background-color: #DFC4A9;
    transform: scale(1.05);
}

.Card-Main-Button:active {
    transform: scale(0.98);
}

@media (max-width: 320px) {
    .Card-Button {
        width: 60%;
    }
}

.Modal-Tech-Heading {
    font-family: "Space Grotesk";
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

.Event-Heading {
    font-family: "Space Grotesk";
    font-size: 28px;
    color: #000;
}

.Events-Card-Container {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.Event-Photos {
    height: 110px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    background-color: black;

}

.modal-content {
    border-radius: 12px;
}

.registration-section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
}

.file-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.remove-file {
    margin-left: 10px;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

#alertContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 500px;
}
.About-Logo{
    height:100%;
    width:100%;
}
@media (min-width:767px) and (max-width:1023px){
    .About-Logo{
        height:60%;
        width:140%;
    }
}
.Vertical-Line {
    width: 2px;
    height: 100%;
    border-color:#F3F0E0;
    border-style:dashed;
    border-width:2px;
}

.Horizontal-Line {
    width: 100%;
    border-color:#F3F0E0;
    border-style:dashed;
    border-width:2px;
}
.About-Text{
    font-family:"Space Grotesk";
    color:#F3F0E0;
}
.About-Heading{
    font-family:"Space Grotesk";
    color:#F3F0E0;
    font-weight:bold;
    font-size:36px;
}

.POC-Card {
    border-width: 2px;
    border-color: #641D36;
    border-style: solid;
    border-radius: 10px;
    background-color: #EAD7C5;
}

.POC-Heading {
    font-family: "Space Grotesk";
    color: #641D36;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding:15px;
}
.POC-Text{
    padding:15px;
}

.Vertical-Line-1 {
    width: 2px;
    min-height: 232px;
    border-left: 2px dashed #641D36;
}

.Custom-Flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.POC-Text{
    font-family:"Space Grotesk";
    color:#641D36;
}
.Horizontal-Line {
    width: 100%;
    border-top: 2px dashed #641D36;
    min-width:240px;
}

@media (max-width: 767px) {
    .Vertical-Line-1 {
        display: none;
    }
    
    .POC-Heading {
        font-size: 28px;
    }
    
    .POC-Card {
        text-align: center;
    }
    .POC-Text{
        font-size:12px;
    }
}
.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    opacity: 0.6;
}
.Footer-Section{
    background-color: #641D36;
    height: 100%;
}
.Footer-Heading{
    font-family:"Space Grotesk";
    color: #F3F0E0;
    font-size: 26px;
    font-weight: bold;
}
.Footer-Paragraph{
    font-family:"Space Grotesk";
    color:#F3F0E0;
    font-size:10px;
}
.Footer-Icons{
    color:#F3F0E0;
}

.Footer-HR{
    background-color:#F3F0E0;
    width:100%
}
.Nav-Logo-1 {
    height: 34.5px;
    border-radius: 12px;
}

.Nav-Logo-Title-1 {
    font-family: "Space Grotesk";
    color: #F3F0E0;
    font-size: 20px;
    font-weight: bold;
}
.contact-link {
    color: #641D36;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover Effect */
.contact-link:hover {
    color: #EAD7C5;
    text-decoration: none;
    background-color: #641D36;
    padding: 2px 5px;
    border-radius: 5px;
}
@media (pointer: coarse) {
    .contact-link {
        text-align: center;
        font-weight: bold;
    }

    .contact-link:active {
        background-color: #641D36;
        color: #EAD7C5;
        border-radius: 5px;
    }
}
.insta-link {
    color: #EAD7C5;
    transition: color 0.3s ease, transform 0.2s ease;
}

@media (hover: hover) {
    .insta-link:hover {
        color: #ff4081;
        transform: scale(1.2);
    }
}

@media (pointer: coarse) {
    .insta-link:active {
        color: #ff4081;
        transform: scale(1.2);
    }
}
